<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                DLDG用户中心欢迎您！
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                <a href="~/.well-known/openid-configuration">DGAuthServer</a>
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                点 <a href="~/grants">这里</a> 管理您的信息.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                DLDG
            </p>
        </div>
    </div>
</div>
