<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Warn"
  internalLogFile="Logs/internal-nlog.txt">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
<add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
<!-- write logs to file -->
<!--<target name="allfile" 
xsi:type="File" 
layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"
fileName="Logs/nlog-all-${shortdate}.log"/>-->


<!-- 常规的日志文件输出 -->
<target name="Microsoft_LOG_FILE"
xsi:type="File"
layout="[${longdate}] ${event-properties:item=EventId.Id} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}  url: ${aspnet-request-url} action: ${aspnet-mvc-action} : ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
encoding="utf-8"
archiveNumbering="Date"
archiveEvery="Day"
archiveDateFormat="yyyy-MM-dd"
archiveFileName="Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.log"
fileName="Logs/Microsoft-${shortdate}.log" />

<!-- 常规的日志文件输出 -->
<target name="LOG_FILE"
xsi:type="File"
layout="[${longdate}] ${event-properties:item=EventId.Id} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}  url: ${aspnet-request-url} action: ${aspnet-mvc-action} : ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
encoding="utf-8"
archiveNumbering="Date"
archiveEvery="Day"
archiveDateFormat="yyyy-MM-dd"
archiveFileName="Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.log"
fileName="Logs/${shortdate}.log" />

<!-- 约定以 err 为文件后缀的日志文件记录了程序输出的警告或者错误。 -->
<target name="ERROR_LOG_FILE"
xsi:type="File"
layout="[${longdate}] ${event-properties:item=EventId.Id} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger} url: ${aspnet-request-url} action: ${aspnet-mvc-action} : ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
encoding="utf-8"
archiveNumbering="Date"
archiveEvery="Day"
archiveDateFormat="yyyy-MM-dd"
archiveFileName="Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.err"
fileName="Logs/${shortdate}.err" />

<!-- 约定以 dbg 为文件后缀的日志文件记录了程序输出的debug。 -->
<target name="Debug_LOG_FILE"
xsi:type="File"
layout="[${longdate}] ${event-properties:item=EventId.Id} ${pad:padding=-5:inner=${level:uppercase=true}} ${logger} url: ${aspnet-request-url} action: ${aspnet-mvc-action} : ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
encoding="utf-8"
archiveNumbering="Date"
archiveEvery="Day"
archiveDateFormat="yyyy-MM-dd"
archiveFileName="Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.dbg"
fileName="Logs/${shortdate}.dbg" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
<!-- 记录所有日志级别不低于 Warn 的日志到日志文件 -->
<logger name="*"minlevel="Warn"  writeTo="ERROR_LOG_FILE" />

<logger name="Microsoft.*"  level="Info" writeTo="Microsoft_LOG_FILE" />
<logger name="DG.*" level="Debug"writeTo="Debug_LOG_FILE" />
<logger name="DG.*" level="Info" writeTo="LOG_FILE" />

  </rules>
</nlog>